.syntax--source.syntax--json {
  .syntax--meta {
    .syntax--json {
      &.syntax--string.syntax--quoted.syntax--double {
        color: @orange;
        > .syntax--punctuation {
          color: @red;
        }
      }
    }
    &.syntax--json.syntax--structure {
      &.syntax--dictionary {
        > .syntax--string.syntax--quoted.syntax--double {
          color: @blue;
          > .syntax--punctuation {
            color: @dark-blue;
          }
        }
        &.syntax--value > .syntax--string.syntax--quoted.syntax--double {
          color: @orange;
          > .syntax--punctuation {
            color: @red;
          }
        }
      }
    }
  }
}
